<div>
  <div
    class="grid grid-cols-2"
    *ngIf="product.images && product.images.length > 0"
  >
    <div *ngFor="let image of product.images">
      <img
        class="w-full h-auto p-2"
        [src]="image.url"
        [alt]="product.reference"
        [class.main-image]="image.is_main"
      />
    </div>
  </div>

  <div class="m-2 bg-slate-50 rounded-lg divide-y-4 divide-double">
    <div class="px-6 py-4">
      <!-- <p>Catégorie : {{ product.category_id }}</p> -->
      <p class="py-2 font-semibold">Prix : {{ product.price }} €</p>
      <p class="py-1 text-sm">Categorie : {{ product.category.name }}</p>
      <p class="py-1 text-sm">Couleur : {{ product.color[0]?.name }}</p>
      <p class="py-1 text-xs">Référence : {{ product.reference }}</p>
    </div>
    <div class="m-2 flex justify-between">
      <button
        class="text-sm bg-slate-300 my-4 mx-2 px-3 py-2 rounded-full border border-solid border-slate-200 hover:bg-slate-200"
        (click)="onViewProduct()"
      >
        Afficher le produit
      </button>
      <button
        class="text-sm bg-slate-300 my-4 mx-2 px-3 py-2 rounded-full border border-solid border-slate-400 hover:bg-slate-200"
        (click)="addProduct(product)"
      >
        <i class="ri-shopping-cart-2-line"></i>
      </button>
    </div>
  </div>
</div>
