<div class="w-full">
  <nav class="bg-blue-600">
    <div
      class="flex items-center justify-between text-yellow-300 md:text-lg font-bold"
    >
      <!-- Ajout de 'group' pour le survol -->
      <a
        routerLink="home"
        class="relative block items-center w-36 ml-5 mb-2 group"
      >
        <!-- Image par défaut, visible par défaut -->
        <img
          src="assets/img/icon/ikeah1.PNG"
          alt="Default Icon"
          class="block group-hover:hidden"
        />
        <!-- Image au survol, cachée par défaut mais visible au survol -->
        <img
          src="assets/img/icon/ikeah2.PNG"
          alt="Hover Icon"
          class="hidden group-hover:block"
        />
      </a>
      <ul class="flex">
        <li class="p-8 hover:underline underline-offset-4">
          <a routerLink="home" routerLinkActive="">Nos produits</a>
        </li>
        <li class="p-8 hover:underline underline-offset-4">
          <a routerLink="/contacts" routerLinkActive="">Contacts</a>
        </li>
        <li class="p-8 hover:scale-125 ease-out duration-200">
          <i class="ri-shopping-cart-2-line" (click)="getProduct()"></i>
        </li>
      </ul>
    </div>
  </nav>
</div>
